.trends {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background-color: var(--color-base);
}

.title {
    font-size: 2rem;
    color: #fff;
}

.trends_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    position: relative;
    margin-top: 25px;
}