.search {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    position: block;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255,167,0,1) 0%, rgba(255,84,0,1) 43%);
    right: 0;
    transform: scale(1.01);
    animation-name: search;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.search_icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(67%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
    width: 25px;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    right: 21px;
}

.search_icon:hover {
    transform: scale(1.1);
}

.search input {
    display: none;
}


@keyframes search {
    from {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(78deg, rgba(255,166,0,1) 0%, rgba(255,84,0,1) 50%);
        right: 0;
        border-radius: 35px;
        transform: scale(1.01);
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: block;
        right: 0;
        position: absolute;
    }
    to {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66px;
        position: block;
        border-radius: 35px;
        background: linear-gradient(0deg, rgba(255,167,0,1) 0%, rgba(255,84,0,1) 43%);
        right: 0;
        transform: scale(1.01);
    }
}

.search_active {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    position: block;
    border-radius: 35px;
    background: linear-gradient(78deg, rgba(255,166,0,1) 0%, rgba(255,84,0,1) 50%);
    right: 0;
    transform: scale(1.01);
    animation-name: searchActive;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.search_active input {
    margin-left: 30px;
    height: 100%;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    animation-name: inputActive;
    width: 85%;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.search_active input::placeholder {
    color: #ccca;
}

.search_active img {
    position: absolute;
    right: 21px;
    transition: 0;
}

@keyframes searchActive {
    to {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: block;
        right: 0;
        position: absolute;
    }
    
}

@keyframes inputActive {
    0% {
        display: none;
    } 
    90% {
        display: none;
    }
    100% {
        display: inline-block;
    }
}